// COLORS

$background-header-footer: #5f8ebd;
$font: white;
$links-hover: rgb(233, 148, 133);
$addButton: #aae3f5;

// FONTS

$main-font: Helvetica, sans-serif;

// ELEMENTS

@mixin addButton {
	padding: 0.5rem;
	border-radius: 5px;
	border: none;
	background-color: $addButton;
	color: $links-hover;
}

/* It is also possible to pass the arguments into the function:

@mixin addButton ($color, $size) {
	padding: 0.5rem;
	border-radius: 5px;
	border: none;
	background-color: $color;
	color: $links-hover;
    font-size: $size;
}

and we call it like:

	button {
		@include addButton(red, 35px);
	}

*/
